<nav>
    <div class="nav-wrapper green">
        <a href="#" class="brand-logo center"><img src="assets/logo.png" style="width: 60px; height: 60px;"></a>
        <a href="#" class="button-collapse hide-on-large-only green" [id]="'btn-sidenav-demo'"><i mz-icon-mdi
[icon]="'format-align-justify'" class="black-text"
[size]="'36px'">
</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/">Todos Artigos</a></li>
            <li><a routerLink="/publish">Publique</a></li>
            <li><a routerLink="/my">Meus Artigos</a></li>
            <li><a routerLink="/user">User</a></li>
        </ul>

        <mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">

            <mz-sidenav-link><a routerLink="/">Todos Artigos</a></mz-sidenav-link>
            <mz-sidenav-link><a routerLink="/publish">Publique</a></mz-sidenav-link>
            <mz-sidenav-link><a routerLink="/my">Meus Artigos</a></mz-sidenav-link>
            <mz-sidenav-link><a routerLink="/user">User</a></mz-sidenav-link>
        </mz-sidenav>
    </div>
</nav>
<div class="row">
    <div class="container">
        <div class="col s12 m1 l3 offset -l3"><br/><br/></div>
        <div class="col s12 m10 l6" *ngIf="logado">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <td>Titulo Artigos</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let article of articles">
                        <td (show)="teste()">{{article.titulo}}</td>
                        <td><button type="button" class="btn waves-effect waves-green" mz-button (mouseover)="atualizar(article.id)" (click)="editModal.open()">Atualizar</button></td>
                        <td><button type="button" class="btn waves-effect waves-green" mz-button (mouseover)="select(article.id)" (click)="confirm.open()">Apagar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<mz-modal #editModal [fixedFooter]="true">
    <mz-modal-header>

        Atualizar
    </mz-modal-header>
    <mz-modal-content>
        <form #formModal="ngForm">

            <input type="text" name="title" id="title" #titulo="ngModel" [(ngModel)]="artigo.titulo" class="validate" required/>
            <label for="title" [ngClass]="{'red-text': !titulo.valid && titulo.touched}">Titulo</label>
            <div *ngIf="!titulo.valid && titulo.touched" [ngClass]="{'red-text': !titulo.valid && titulo.touched}">Por favor, digite o título!</div>
            <input type="text" name="dono" [(ngModel)]="artigo.dono" disabled="true" />
            <label for="dono">Dono</label>
            <textarea #art="ngModel" name="artigo" [(ngModel)]="artigo.artigo" class="input-field validate" required></textarea>
            <label for="artigo" [ngClass]="{'red-text': !art.valid && art.touched}">Artigo</label>
            <div *ngIf="!art.valid && art.touched" [ngClass]="{'red-text': !art.valid && art.touched}">Por favor, digite o artigo!</div>

        </form>
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" [disabled]="!formModal.valid" (click)="update(artigo.id)" mz-modal-close>Atualizar</button>
    </mz-modal-footer>

</mz-modal>
<mz-modal #confirm [fixedFooter]="true">

    <mz-modal-header>
        TI Blog
    </mz-modal-header>
    <mz-modal-content>
        Tem certeza que deseja excluir este artigo?
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button class="btn waves-effect waves-green green right" mz-modal-close>Não</button>
        <button mz-button class="btn waves-effect waves-green green left" (click)="del(id)" mz-modal-close>Sim</button>
    </mz-modal-footer>

</mz-modal>