<div class="row" *ngIf="!logado">
  <div class="container">
  <div class="col s12 m1 l3 offset -l3"><br/><br/></div>
  <div class="col s12 m10 l6">
    <img class="responsive-image" style="width: 430px; height: 200px;"  src="assets/logo.png"/>
    <label for='login' >Login:</label>
    <input type="text" id='login' [(ngModel)]="login">
    <label for='pass' >Senha:</label>
    <input type="password" id='pass' [(ngModel)]="password">
    <input type="button" value="Logue" class="btn waves-effect waves-green" (click)="logar()"><br/>
    <a routerLink="/register">Registre</a>
  </div>
</div>
</div>
<nav *ngIf="logado">
  <div class="nav-wrapper green">
    <a href="#" class="brand-logo"><img src="assets/logo.png" style="width: 60px; height: 60px;"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">Meus artigos</a></li>
      <li><a routerLink="/publish">Publique</a></li>
      <li><a routerLink="/my">Meus Artigos</a></li>
      <li><a routerLink="/user">User</a></li>
    </ul>
  </div>
</nav>
<div class="row">
<div class="container">
    <div class="col s12 m1 l2 offset -l2"><br/><br/></div>
<div class="col s12 m10 l8" *ngIf="logado">
    <table class="responsive-table highlight">
        <thead><tr><td>Artigos</td></tr></thead>
        <tbody><tr *ngFor="let article of articles"><td [routerLink]="['',article.id]" ><h5><b>{{article.titulo }}</b></h5><br/><label [innerHTML]=" article.artigo.substring(0,100)"></label></td>

        </tr>
      </tbody>
    </table>
</div>
</div>
</div>
